@import "~node_modules/modern-normalize/modern-normalize.css";

body {
  color: var(--primery-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
}

html,
body {
  -webkit-overflow-scrolling: touch;
}
