.films__card {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  flex-basis: content;
}

.films__info {
  margin-top: 8px;
}

.rating-on-library-card {
  background: var(--accent-color);
  color: #fff;

  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.films__name {
  text-transform: uppercase;

  @media screen and (min-width: $mobile) {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }
  @media screen and (min-width: $tablet) {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
  @media screen and (min-width: $desktop) {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
}

.films__description {
  color: var(--accent-color);

  margin-top: 8px;

  @media screen and (min-width: $mobile) {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
  @media screen and (min-width: $tablet) {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
  @media screen and (min-width: $desktop) {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
}