.films {
  display: flex;
  justify-content: center;

  &__container {
    margin-top: 20px;
    margin-bottom: 20px;

    @include mq(tablet) {
      margin-top: 45px;
      margin-bottom: 45px;
    }
  }

  &__list {
    @include mq(tablet) {
      margin: -15px;

      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__item {
    width: 100%;
    margin-bottom: 20px;
    @include mq(tablet) {
      margin: 15px;
      flex-basis: calc(100% / 2 - 30px);
    }
    @include mq(desktop) {
      flex-basis: calc(100% / 4 - 30px);
    }
  }

  &__img {
    width: 100%;
    transition: var(--transition-duration);
    border-radius: 5px;
  }
}

.films__wrapper {
  padding: 4px;
  display: block;
  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.films__wrapper:hover,
.films__wrapper:focus {
  padding: 4px;
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.284);
  cursor: pointer;
  box-shadow: var(--box-shadow-hover);
  outline: none;
  border-radius: 5px;
}

.img__row {
  color: var(--accent-color);
  font-weight: 500;
  background-color: #00000040;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  display: flex;
  position: relative;
  bottom: 30px;
  font-size: 12px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-bottom: -30px;
}
