.films {
  display: flex;
  justify-content: center;

  &__list {
    margin-top: 20px;
    margin-bottom: 20px;

    @include mq(tablet) {
      margin: -15px;
      margin-top: 45px;
      margin-bottom: 45px;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__item {
    width: 100%;

    @include mq(tablet) {
      margin: 15px;
      flex-basis: calc(100% / 2 - 30px);
    }
    @include mq(desktop) {
      flex-basis: calc(100% / 4 - 30px);
    }
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing-function);
  }
  &__item:hover {
    transform: scale(1.05);
  }

  &__img {
    width: 100%;
    transition: var(--transition-duration);
  }
}
