// .modal {

// 		&__backdrop {
// 		}

// 		&__container {
// 		}
// }
.trailer {
  // 		&__backdrop {
  // 		}

  &__window {
    @media screen and (max-width: 767px) {
      // margin-top: 200px;
    }
  }

  &__iframe {
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

    @media screen and (min-width: $tablet) {
      width: 700px;
      height: 470px;
    }
    @media screen and (min-width: $desktop) {
      width: 815px;
      height: 550px;
    }
  }
}

.trailer__backdrop {
  z-index: 10;
}

// .trailer__window {
//   background: #000;
//   @media screen and (max-width: 767px) {
//     height: 100%;
//     margin-top: 0;
//     position: relative;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }

//   // @media screen and (min-width: $desktop) {
//   //   width: 815px;
//   //   height: 565px;
//   // }
// }

// .trailer__iframe {
//   min-height: 100%;
//   @media screen and (max-width: 767px) {
//     width: 100%;
//     height: 30%;
//   }
// }
