// Медиа запросы
@mixin mq($range) {
  @if $range == mobile-only {
    @media screen and (max-width: ($tablet - 1)) {
      @content;
    }
  } @else if $range == mobile {
    @media screen and (min-width: $mobile) {
      @content;
    }
  } 

  @else if $range == tablet-only {
    @media screen and (min-width: $tablet) and (max-width: #{$desktop - 1}) {
      @content;
    }
  } @else if $range == tablet {
    @media screen and (min-width: $tablet) {
      @content;
    }
  } @else if $range == desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  } @else if $range == notDesktop {
    @media screen and (max-width: #{$desktop - 1}) {
      @content;
    }
  } @else if $range == retina {
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-moz-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      @content;
    }
  }
}

//flexContainer
@mixin flex($base: center, $cross: center) {
  display: flex;
  justify-content: $base;
  align-items: $cross;
}


@mixin allSpace() {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
