*, *::before, *::after{
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding-left: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li{
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
	font-family: inherit;
}

img {
	display: block;
	height: auto;
}