:root {
  --primery-text-color: #000;
  --secondary-text-color: #fff;
  --accent-color: #ff6b08;
  --background-color: #f7f7f7;
  --logo-color: #818181;
  --error-notification-color: #ff001b;

  --transition-duration: 300ms;
  --timing-function: ease;
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
