<div class="modal__backdrop auth__backdrop visually-hidden">
	<form class="form auth__form">
		<p class="clearfix">
			<label for="email">Email</label>
			<input
				type="text"
				name="email"
				id="email-auth"
				placeholder="Email"
			/>
		</p>
		<p class="clearfix">
			<label for="password">Password</label>
			<input
				type="password"
				name="password"
				id="password-auth"
				placeholder="Password"
			/>
		</p>
		<button type="submit" name="submit">sign in</button>
		<p class="auth__input-error" id="js-auth__error"></p>
	</form>
</div>
