<!-- ---------------------------- Library button -------------------- -->
<div class="button-group">
  <button class="button library__button is-active" type="button" data-modal="watched">
    WATCHED
  </button>

  <button class="button library__button " type="button" data-modal="queue">
    QUEUE
  </button>
</div>


<!-- ------------------- Модалка фільмів -------------------- -->

<!-- <div class="button-group">
  <button class=" film__button button is-active" type="button" data-modal="add-to-watched">
    add to Watched
  </button>

  <button class=" film__button button type="button" data-modal="add-to-queue">
    add to queue
  </button>
</div> -->

