<ul class="film__list">
  <li>
    <div class="film__card">
      <div class="film__img-wrapper">
          <picture>
            <source media="(min-width: 1024px)"
              srcset="#"
              type="image/webp">
            <source media="(min-width: 1024px)"
              srcset="#">
            <source media="(min-width: 768px)"
              srcset="#"
              type="image/webp">
            <source media="(min-width: 768px)"
              srcset="#">
            <source media="(min-width: 280px)"
              srcset="#"
              type="image/webp">
            <source media="(min-width: 280px)"
              srcset="#">
            <img class="film__img" src="#" alt="" />
          </picture>
        </div>
        <div class="film__info">
          <p class="film__name">monster hunter</p>
          <p class="film__description">Drama, Action | 2020</p>
        </div>
    </div>
  </li>
</ul>