<header class="library" id="home">
	<div class="header__container container">
		<div class="library__wrapper">
			<a class="logo" href="./index.html" aria-label="Filmoteka logo">
				<svg class="logo__icon" width="24px" height="24px">
					<use href="./images/symbol-defs.svg#icon-film"></use>
				</svg>
				<span class="logo__text">Filmoteka</span>
			</a>
			<nav class="nav">
				<ul class="nav__list nav__list-library">
					<li class="nav__item">
						<a class="nav__link" href="index.html">home</a>
					</li>
					<li class="nav__item active">
						<a class="nav__link" href="./library.html">
							my library
						</a>
					</li>
					<form
						class="nav__form-log-out"
						method="LINK"
						action="index.html"
					>
						<input
							class="nav__item-button nav__item-log-out button"
							type="submit"
							value="log out"
						/>
					</form>
				</ul>
			</nav>
		</div>
		<div class="container toolbar-library">
			<div class="theme-switch">
				<svg
					class="theme-switch-icon"
					width="20px"
					height="20px"
					role="img"
					aria-label="Іконка сонця"
				>
					<use href="./images/symbol-defs.svg#sun"></use>
				</svg>

				<div class="theme-switch-control">
					<input
						class="theme-switch-toggle"
						type="checkbox"
						name="theme"
						id="theme-switch-toggle"
						aria-label="Перемикач теми"
					/>
					<label
						aria-hidden="true"
						class="theme-switch-track"
						for="theme-switch-toggle"
					></label>
					<div aria-hidden="true" class="theme-switch-marker"></div>
				</div>

				<svg
					class="theme-switch-icon"
					width="20px"
					height="20px"
					aria-label="Іконка місяця"
				>
					<use href="./images/symbol-defs.svg#moon"></use>
				</svg>
			</div>
		</div>
		<div class="button-group">
			<button
				class="button library__button is-active library__watched-btn"
				type="button"
				data-modal="watched"
			>
				WATCHED
			</button>

			<button
				class="button library__button library__queue-btn"
				type="button"
				data-modal="queue"
			>
				QUEUE
			</button>
		</div>
	</div>
</header>
