<header class="header" id="home">
	<div class="header__container container">
		<div class="header__wrapper">
			<a class="logo" href="./index.html" aria-label="Filmoteka logo">
				<svg class="logo__icon" width="24px" height="24px">
					<use href="./images/symbol-defs.svg#icon-film"></use>
				</svg>
				<span class="logo__text">Filmoteka</span>
			</a>
			<nav class="nav">
				<ul class="nav__list">
					<li class="nav__item active">
						<a class="nav__link" href="index.html">home</a>
					</li>
					<li class="nav__item nav__item-auth visually-hidden">
						<a class="nav__link" href="./library.html">
							my library
						</a>
					</li>
				</ul>
				<div class="nav__btn-wrapper">
					<button
						class="nav__item-button button"
						id="modal-btn-record"
					>
						sign up
					</button>

					<button class="nav__item-button button" id="modal-btn-auth">
						sign in
					</button>
				</div>
			</nav>
		</div>
		<div class="input">
			<form class="input__wraper">
				<input
					class="header__input"
					name="searchQuery"
					type="text"
					placeholder="Search films ..."
					autocomplete="off"
				/>
				<button class="input__search-btn" type="submit">
					<svg class="input__search-icon" width="12px" height="12px">
						<use
							href="./images/symbol-defs.svg#icon-search-2"
						></use>
					</svg>
				</button>
			</form>
		</div>
		<div class="container toolbar">
			<div class="theme-switch">
				<svg
					class="theme-switch-icon"
					width="20px"
					height="20px"
					role="img"
					aria-label="Іконка сонця"
				>
					<use href="./images/symbol-defs.svg#sun"></use>
				</svg>

				<div class="theme-switch-control">
					<input
						class="theme-switch-toggle"
						type="checkbox"
						name="theme"
						id="theme-switch-toggle"
						aria-label="Перемикач теми"
					/>
					<label
						aria-hidden="true"
						class="theme-switch-track"
						for="theme-switch-toggle"
					></label>
					<div aria-hidden="true" class="theme-switch-marker"></div>
				</div>

				<svg
					class="theme-switch-icon"
					width="20px"
					height="20px"
					aria-label="Іконка місяця"
				>
					<use href="./images/symbol-defs.svg#moon"></use>
				</svg>
			</div>
		</div>
		<p class="input__error" id="js-input-error"></p>
	</div>
</header>
