<header class="library" id="home">

    <div class="header__container container">
        <div class="library__wrapper">
            <a class="logo" href="./index.html" aria-label="Filmoteka logo">
                <svg class="logo__icon" width="24px" height="24px">
                    <use href="./images/symbol-defs.svg#icon-film"> </use>
                </svg>
                <span class="logo__text">Filmoteka</span>
            </a>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item ">
                        <a class="nav__link" href="index.html">home</a>
                    </li>
                    <li class="nav__item active">
                        <a class="nav__link" href="./library.html">my library</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div>

        </div>
</header>