<div class="backdrop js-backdrop">
    <div class="modal">
        <!-- <h2 class="team__title">Team Three</h2> -->
        <ul class="team__list"></ul>
        <button class="team-btn-close js-team-close" type="button" title="Close"></button>
    </div>
</div>
<!-- <div class="modal__container">
    <button class="modal__close">
      <div class="modal__close-first"></div>
      <div class="modal__close-second"></div>
    </button>
    <div class="modal-wrap">
      <div class="team__wrap"> -->