<div class="pagination">
  <button
    class="pagination__button--arrow"
    type="button"
    aria-label="previous-page"
  >
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-arrow-left2"></use>
    </svg>
  </button>
  <div class="pagination__container--first-button hidden-in-mobile"></div>
  <div class="pagination__container--buttons"></div>
  <div class="pagination__container--last-button hidden-in-mobile"></div>
  <button
    class="pagination__button--arrow"
    type="button"
    aria-label="next-page"
  >
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-arrow-right2"></use>
    </svg>
  </button>
</div>
