<div id="page-buttons">
  <button class="button-page arrow" type="button" aria-label="previous-page">
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-arrow-left2"></use>
    </svg>
  </button>
  <!-- <button data-page="1" class="button-page hidden-in-mobile">1</button>
  <span class="page-buttons__points hidden-in-mobile">···</span>

  <button data-page="2" class="button-page">13</button>
  <button data-page="3" class="button-page">14</button>
  <button data-page="4" class="button-page active">15</button>
  <button data-page="5" class="button-page">16</button>
  <button data-page="6" class="button-page">17</button>
  <span class="page-buttons__points hidden-in-mobile">···</span>

  <button data-page="7" class="button-page hidden-in-mobile">18</button> -->

  <button class="button-page arrow" type="button" aria-label="next-page">
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-arrow-right2"></use>
    </svg>
  </button>
</div>
