<div class="modal__backdrop visually-hidden record__backdrop">
	<form class="form record__form">
		<p class="clearfix">
			<label for="email">Email</label>
			<input type="text" name="email" id="email" placeholder="Email" />
		</p>
		<p class="clearfix">
			<label for="password">Password</label>
			<input
				type="password"
				name="password"
				id="password"
				placeholder="Password"
			/>
		</p>
		<button type="submit" name="submit">sign up</button>
		<p class="record__input-error" id="js-record__error"></p>
	</form>
</div>
