<section class="films">
	<div class="films__container container">
		<div class="films__card">
			<img class="films__img" src="images/Rectangle5.jpg" alt="" />
			<div class="films__info">
				<p class="films__name">monster hunter</p>
				<p class="films__description">Drama, Action | 2020</p>
			</div>
		</div>
		<div class="films__card">
			<img class="films__img" src="images/Rectangle5.jpg" alt="" />
			<div class="films__info">
				<p class="films__name">monster hunter</p>
				<p class="films__description">Drama, Action | 2020</p>
			</div>
		</div>
		<div class="films__card">
			<img class="films__img" src="images/Rectangle5.jpg" alt="" />
			<div class="films__info">
				<p class="films__name">monster hunter</p>
				<p class="films__description">Drama, Action | 2020</p>
			</div>
		</div>
		<div class="films__card">
			<img class="films__img" src="images/Rectangle5.jpg" alt="" />
			<div class="films__info">
				<p class="films__name">monster hunter</p>
				<p class="films__description">Drama, Action | 2020</p>
			</div>
		</div>
		<div class="films__card">
			<img class="films__img" src="images/Rectangle5.jpg" alt="" />
			<div class="films__info">
				<p class="films__name">monster hunter</p>
				<p class="films__description">Drama, Action | 2020</p>
			</div>
		</div>
		<div class="films__card">
			<img class="films__img" src="images/Rectangle5.jpg" alt="" />
			<div class="films__info">
				<p class="films__name">monster hunter</p>
				<p class="films__description">Drama, Action | 2020</p>
			</div>
		</div>
		<div class="films__card">
			<img class="films__img" src="images/Rectangle5.jpg" alt="" />
			<div class="films__info">
				<p class="films__name">monster hunter</p>
				<p class="films__description">Drama, Action | 2020</p>
			</div>
		</div>
	</div>
</section>
